<div class="m-4">
    <form [formGroup]="filterForm">
      <div class="my-2">
        <label>
          <input type="radio" class="radio" formControlName="gender" value="All">
          All
        </label>
      </div>
      <div class="my-2">
        <label>
          <input type="radio" class="radio" formControlName="gender" value="Male">
          Male
        </label>
      </div>
      <div class="my-2">
        <label>
          <input type="radio" class="radio" formControlName="gender" value="Female">
          Female
        </label>
      </div>
    </form>
  </div>
  